.chat-container{
  display: flex;
  padding: 30px;
}
.v-window{
  width: 62%;
}
.c-window{
  padding-left: 30px;
  width: 38%;
}
.c-window-fixed{
  position: fixed;
  left: 61.5%;
  top: 94px;
  padding-left: 30px;
  width: 36.5%;
}