.index{
    color: #17cbe3;
    font-size: 20px;
    // display: flax;
    text-align: center;
    padding-bottom: 20px;
    img{
        position: fixed;
        left: 3%;
        // float: left;
        top: 8%;
    }
    
}
